.startBtn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  font-family: var(--mainFont);
  text-align: center;
  color: var(--primary);
  background-color: var(--secondary);
  width: 15%;
  border-radius: 8px;
  transition: 0.3s;
  border: none;
  padding-top: var(--spacing-xxs);
  padding-bottom: var(--spacing-xxs);
}

.startBtn:hover {
  color: var(--secondary);
  background-color: var(--primary);
}