.demoBcg {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.9));
  display: flex;
  justify-content: center;
  align-items: center;
}

.playgroundContainer {
  width: 90%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: var(--spacing-sm);
}

@media (max-width: 1124px) {

  .playgroundContainer {
    width: 100%;
    padding: var(--spacing-xxs);
  }

  .demoBcg {
    height: 200vh;
  }
}