.logo {
  /* font-family: var(--mainFont);
  font-size: 54px;
  color: var(--secondary);
  text-align: left;
  padding: var(--spacing-xxs);
  position: absolute;
  top: 0;
  left: 0;
  margin-left: var(--spacing-xs);
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--secondary);
  border-radius: 8px;
  margin: var(--spacing-sm); */
}