.gameContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.gameMenu {
  width: 40%;
  height: 75vh;
  padding: var(--spacing-sm);
  border: 5px solid var(--secondary);
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.7);

}

.gameMode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-xs);
}

.modeName {
  color: var(--secondary);
  font-size: 18px;
}

.modeDescription {
  color: var(--secondary);
  font-size: 16px;
}


.modeBtn {
  width: 28%;
  border: 2px solid var(--secondary);
  font-size: 20px;
  margin: var(--spacing-xxs);
  padding: var(--spacing-xxs);
  border-radius: 4px;
  transition: 0.3s;
  cursor: pointer;
}

.startGameBtn {
  width: 40%;
  background: transparent;
  color: var(--secondary);
  border: 2px solid var(--secondary);
  font-size: 20px;
  margin: var(--spacing-xxs);
  padding: var(--spacing-xxs);
  border-radius: 4px;
  transition: 0.5s;
}

.gameBtn {
  width: 40%;
  background: transparent;
  color: var(--secondary);
  border: 2px solid var(--secondary);
  font-size: 20px;
  margin: var(--spacing-xxs);
  padding: var(--spacing-xxs);
  border-radius: 4px;
  transition: 0.5s;
}

.startGameBtn:hover,
.gameBtn:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

.gameBoard {
  /* display: flex;
  flex-wrap: wrap;
  align-items: center; */
  width: 40%;
  /* max-width: 500px; */
  /* height: 70vh; */
  background-size: cover;
  /* padding: var(--spacing-sm); */
  /* border: 5px solid var(--secondary); */
  border-radius: 8px;
  height: 75vh;
  padding: var(--spacing-sm);
  border: 5px solid var(--secondary);
  border-radius: 8px;
}

.taskDescription {
  color: var(--secondary);
  font-size: 24px;
  text-transform: uppercase;
  padding: var(--spacing-xxs);
  text-align: left;
  margin: 0;
}

.task {
  color: var(--secondary);
  font-size: 24px;
  text-transform: uppercase;
  padding: var(--spacing-xxs);
  text-align: left;
}

.answer {
  margin-top: var(--spacing-xxs);
  width: 100%;
  padding: var(--spacing-xxs);
  font-family: 'Architects Daughter', cursive;
  color: var(--secondary);
  font-size: 28px;
  background-color: transparent;
}

.answer:focus {
  border: none;
  outline: none;
}

.modalContainer {
  background-image: var(--maingradient);
  border: 1px solid var(--primary);
  /* border-bottom: none; */
  margin: 10px auto;
  min-width: 50vw;
  display: flex;
  justify-content: space-evenly;
  border-radius: 8px;
  /* align-items:center; */
}

.modalWord {
  width: 20%;
  text-align: center;
}