.switchContainer {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  color: var(--secondary);
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
  cursor: pointer;
}

.switchContainer:hover .arrow {
  transform: rotate(180deg);
}

.arrow {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
  transform: rotate(0deg);
  transition: 0.5s;
}