@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


:root {
  --primary: rgba(0, 0, 0, 1);
  --secondary: rgba(255, 255, 255, 1);

  --mainFont: 'Ubuntu', sans-serif;

  --spacing-xxs: 0.5em;
  --spacing-xs: 1em;
  --spacing-sm: 2em;
  --spacing-md: 3em;
  --spacing-l: 4em;
  --spacing-xl: 5em;
  --spacing-xxl: 10em;
}


.App {
  text-align: center;
}